body {
    color: #000;
    background-color: #f6f8fc;
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding-top: 210px;

}


h1,
h2,
h3 {
    color: #7A2E1E;
}

header h1 {
    color: white;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 16px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 10px 16px;
    width: 300px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

#banner {
    background-color: #ea6f3b;
    padding: 50px 40px;
    border-radius: 12px;
    text-align: center;
}

#banner h2 {
    font-size: 40px;
}

.grade {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    flex: 1;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

.etiqueta {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #C0392B;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
}

.preco {
    color: #ff0000;
    font-size: 22px;
    font-weight: bold;
}

.destaque {
    border: 5px solid rgb(218, 97, 45);
    background-color: antiquewhite;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #7A2E1E;
    color: white;
    padding: 14px;
    text-align: left;
}

td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
}

#topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7A2E1E;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 100;
}

.botao {
    color: white;
    background-color: #ff0000;
    text-decoration: none;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    transition: 0.3s;
    border: none;
}

.botao:hover {
    background-color: #b20b0b;
}

.botao-fixo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    background-color: #ff0000;
    padding: 12px 24px;
    transition: 0.3s;
}

.botao-fixo:hover {
    background-color: #c50d0d;
}

.formulario {
    background-color: #f6f8fc;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 30px;
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.campo input,
.botao-fixo:hover textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

footer {
    background-color: #7A2E1E;
    color: wheat;
    text-align: center;
    padding: 30px;
}

footer a {
    color: #ff0000;
}