body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    margin-bottom: 30px;

}

nav>ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

main {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    max-width: 800px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

footer {
    margin-top: 30px;
    text-align: center;
}